@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quicksand:wght@300;400;500;600;700&family=Raleway&family=Roboto:wght@100;300;500&display=swap');
/* base styles */
* {
  font-family: "Quicksand";
}
:root {
  --main-color : #f1356d;
}
.height-800 {
  height: 800px !important;
}
.width-800 {
  width: 800px !important;
}
/* about */
.about h1 {
  font-size: 100px;
  color: var(--main-color);
}
.about p {
  color: #333;
}
/* navbar */
nav a {
  color: var(--main-color) !important;
}
/* slider */
.slider .carousel-control-next-icon {
  background-color: var(--main-color) !important;
}
.slider .carousel-control-prev-icon {
  background-color: var(--main-color) !important;
}
/* pinky buttons */
.pinky {
  background-color: var(--main-color) !important;
  border-color: pink !important;
}
.pinky:focus{
  box-shadow: 0 0 0 0.25rem rgba(var(--main-color), .5) !important;
}
/* card */
.card {
  height: 550px !important;
}
.cardy{
  width: 200px !important;
  height: 200px !important;
}
.talk {
  height: 100px !important;
}
.bottom {
  position: absolute;
  left: 100px !important;
  bottom: 15px !important;
  transform: translate(20%,5%) !important;
  -webkit-transform: translate(20%,5%) !important;
  -moz-transform: translate(20%,5%) !important;
  -ms-transform: translate(20%,5%) !important;
  -o-transform: translate(20%,5%) !important;
}

